<template>
  <div class="baccarat-gameplay">
    <div class="top-row">
      <div
          v-for="item in topNumbers"
          :key="item"
          :class="['item', { 'has-icon': hasIcon(item) }]"
          :id="getElementID(item)"
          @click="handleItemClick(item)"
      >
        <img v-if="hasIcon(item)" alt="coin" src="@/assets/svg/coin.svg" />
        <span v-else>{{ item }}</span>
      </div>
    </div>
    <div class="bottom-row">
      <div
          v-for="item in bottomNumbers"
          :key="item"
          :class="['item', { 'has-icon': hasIcon(item) }]"
          :id="getElementID(item)"
          @click="handleItemClick(item)"
      >
        <img v-if="hasIcon(item)" alt="coin" src="@/assets/svg/coin.svg" />
        <span v-else>{{ item }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, inject } from 'vue';
import BettingBoardPropsUnion from "@/components/BettingBoard";
const bettingButtonClickHandler = inject<() => void>('betting-button-click');

const props = defineProps<BettingBoardPropsUnion>();

const getNumbers = () => {
  const { numbers } = props;
  return numbers;
};

const getElementID = (item: string | number) => {
  const { shape, rectangleType } = props;
  return `${rectangleType}-${shape}-${item}`;
};

const handleItemClick = (item: string | number) => {
  const elementId = getElementID(item);
  bettingButtonClickHandler(item, elementId)
};

const hasIcon = (item: string | number) => {
  const priceList = props.price || [];
  return priceList.some((priceItem) => priceItem.number === item);
};

const numbers = getNumbers();
const middle = Math.ceil(numbers.length / 2);
const topNumbers = numbers.slice(0, middle);
const bottomNumbers = numbers.slice(middle);
</script>

<style scoped>
.baccarat-gameplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.bottom-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 0;
  width: 30%;
  font-weight: bold;
  font-size: 25px;
  transition: background-color 0.3s;
  user-select: none;
  color: white;
}

.item:hover {
  cursor: pointer;
  background-color: #6fbb6f;
}

.has-icon img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
</style>
