<template>
  <div class="similar-game-gameplay">
    <h2>Similar Game Gameplay</h2>
    <p>Value: {{ value }}</p>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps(['value']);
console.log(props)
</script>

<style scoped>
.similar-game-gameplay {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
