<template>
  <div class="betting-board">
    <component
        :is="getShapeComponent()"
        v-bind="props"
    />
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
import BettingBoardPropsUnion from './index.ts';
import CircleShape from './templates/Circle/CircleShape.vue';
import FanShape from './templates/Fan/FanShape.vue';
import TrapezoidShape from './templates/Trapezoid/TrapezoidShape.vue';
import RectangleShape from './templates/Rectangle/RectangleShape.vue';
import SquareShape from './templates/Square/SquareShape.vue';
import EllipseShape from './templates/Ellipse/EllipseShape.vue';

const props = defineProps<BettingBoardPropsUnion>();

const getShapeComponent = () => {
  const { shape } = props;
  switch (shape) {
    case 'circle':
      return CircleShape;
    case 'fan':
      return FanShape;
    case 'trapezoid':
      return TrapezoidShape;
    case 'rectangle':
      return RectangleShape;
    case 'square':
      return SquareShape;
    case 'ellipse':
      return EllipseShape;
    default:
      return null;
  }
};
</script>
<style>
.betting-board {
  width: 100%;
  height: 100%;
}
</style>
