<template>
  <div class="rectangle">
    <component
        :is="getRectangleComponent()"
        v-bind="props"
    />
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
import Baccarat from './Gameplay/BaccaratGameplay.vue';
import SimilarGame from './Gameplay/SimilarGameGameplay.vue';
import BettingBoardPropsUnion from "@/components/BettingBoard";

const props = defineProps<BettingBoardPropsUnion>();

const getRectangleComponent = () => {
  const { rectangleType } = props
  switch (rectangleType) {
    case 'Baccarat':
      return Baccarat;
    case 'SimilarGame':
      return SimilarGame;
    default:
      return null;
  }
};
</script>

<style scoped>
.rectangle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}
</style>
