<template>
  <div class="container">
    <div class="baccarat">
      <div class="baccarat-content">
        <BettingBoard
            ref="Baccarat"
            :shape="'rectangle'"
            :rectangleType="'Baccarat'"
            :numbers="['BP', 'T', 'PP', 'B', 'P']"
            :price="priceList"
        />
      </div>
    </div>
    <div class="coin">
      <div
          class="coin-icon"
          id="baccarat-coin"
      >
        <img alt="coin" src="./assets/svg/coin.svg">
      </div>
      <div class="coin-list">
        <div
            v-for="coin in coinList"
            :key="coin"
            class="coin-item"
            @click="handleCoinClick(coin)"
        >
          <div class="coin-circle">
            {{ coin }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, provide } from 'vue';
import { moveTransition } from "@/components/Animation/MoveTransition";
import BettingBoard from '@/components/BettingBoard/BettingBoard.vue';

const coinList = [10, 10, 20, 30, 40, 50]
const selectedCoins = ref([10]);
const priceList = ref([]);


const handleBettingButtonClick = (item: string | number, id: string) => {

  const priceObject = {
    number: item,
    priceList: selectedCoins,
  }

  moveTransition('baccarat-coin', id).duration(400).hideStart();

  setTimeout(() => {
    priceList.value.push(priceObject)
  }, 450)
};

const handleCoinClick = (coin: number) => {
  selectedCoins.value.push(coin);
};

provide("betting-button-click", handleBettingButtonClick);

</script>

<style>
.container {
  background-color: #016d01;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.baccarat {
  width: 100vw;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.baccarat-content {
  width: 600px;
  height: 200px;
}

.coin {
  width: 100vw;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coin-icon {
  visibility: hidden;
  padding: 40px 0px;
}

.coin-list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.coin-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 25px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.coin-circle:hover {
  cursor: pointer;
  background-color: #6fbb6f;
}

</style>
